.navbar img {
    height: 120px;
    width: 120px;
    margin-left: 50px;
}

.dropdown {
    margin-right: 50px;
}

.deckHeader {
    text-shadow: 4px 1px 4px rgba(255, 255, 0, 0.87);
    margin-top: 20px;
    margin-bottom:20px;
    margin-left: 20px;
    text-align: start;
}

.deckBox {
    margin-bottom: 30px;
}